<h1>Mini Blog</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Tags</a>
        </li>      
        <li>
          <a class="nav-link" href="#">Listagem</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Título da postagem">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"></label> <br>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>

<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button" >Publicar</button>
  <button class="btn btn-primary" type="button" >Editar</button>
  
  <br>
  <h2>Publicação</h2>
  <br>
  
  <button class="btn btn-primary" type="button" >Excluir</button>
</div>




