/* You can add global styles to this file, and also import other style files */

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right: 10px;
    
}

textarea{
    padding: 10px;
}

